@import url('https://fonts.googleapis.com/css?family=Sora&display=swap');


:root{
    --white: #ffffff;
    --whitish: #ffffff;
    --grayish: #dddddd;
    --gray: #706e6e;
    --black: #1e1e1e;
    --green: #0F743D;

}
:root[colors="dark"]{
    --white: #181818;
    --whitish: #dddddd;
    --grayish: #262726;
    --gray: #bbbbbb;
    --black: #dddddd;
    --green: #13462b;
}

body{
    background-color: var(--grayish);
    margin: 0px;
    padding: 0px;
    font-family: 'Sora';
}

.b-darkmode{
    background-color: var(--black);
    color: var(--white);
}

.fixed-header{
    height: 70px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    background-color: var(--white);
    left: 0;
}

.header-content{
    display: flex;
    justify-content: space-between;
    margin-left: 18%;
    margin-right: 18%;
}

input[type = search]{
    transform: translateY(30%);
    height: 40px;
    width: 65%;
    border-radius: 10px;
    border: none;

    padding-left: 15px;
    font-size: 20px;
    background-color: var(--grayish);
    color: var(--gray);
}

button[type = toggle-mode]{
    transform: translateY(15%);
    background-color: var(--white);
    border: 0px;
    float: right;
}

.box{
    font-size: 20px;
    color: var(--black);

    padding-top: 70px;
    margin-left: 18%;
    margin-right: 18%;
    width: 64%;
    display: flex;
}

.left-box, .right-box{
    padding-top: 95px;
    height: 100vh;
    width: 50%;
    padding-left: 40px;
    padding-right: 40px
}

.left-box{
    background-color: var(--green);
}

.right-box{
    background-color: var(--white);
    border: 1px solid var(--grayish);
}

h1{
    font-weight: 200px;
    font-size: 20px;
    text-transform: uppercase;
}

h2{
    color: var(--whitish);
    background: var(--green);
    font-size: 20px;
    font-weight: bold;
    width: fit-content;

    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    margin-left:5px;
}

h3{
    color: var(--whitish);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

h4{
    font-weight: 200px;
    font-size: 85px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.calculator{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px
}

.forms{
    height: 243px;
    width: 243px;
    border: 1px solid var(--whitish);
    border-radius: 15px;
}

input[type=text]{
    display: block;
    margin: 0 auto;
    height: 34px;
    border-radius: 10px;
    border: none;

    text-align: center;
    font-size: 20px;
    width: 65%;
    background-color: var(--whitish);
    color: #706e6e;
}

label{
    display: block;
    color: var(--whitish);
    font-weight: 100;

    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4px;
    margin-top: 25px
}

.hr-left{
    margin-top: 50px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--whitish);
}

.hr-right{
    margin-top: 90px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--black);
}


.buttons{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.button{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.4px;

    color: #706e6e;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.button:hover{
    background-color: var(--gray);
    color: var(--white);
}

.left-text{
    color: var(--whitish);
    font-size: 16px;
    margin-top: 0px;
    padding-top: 0px;
}

.info{
    width: 75%;
    line-height: 1;
    float: right;
}

.info:nth-of-type(2n){
    float: left;
}

p{
    margin-top: 0px;
}

.right-text{
    text-align: justify;
    color: var(--black);
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 100px;
}

.results{
    width: 80%;
    height: 310px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;

    border-radius: 15px;
    background-color: var(--grayish);
    color: var(--gray);
    justify-content: center;
}

table{
    margin-top: 20px;
}

table, td, th{
    text-align: center;
    border: 1px solid var(--gray);
    border-collapse: collapse;
    padding: 10px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}

th{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 100;
    width: 10%;
}

td:first-of-type{
    background-color: var(--grayish);
}

td{
    background-color: var(--white);
}

.green{
    filter: invert(32%) sepia(11%) saturate(4340%) hue-rotate(103deg) brightness(98%) contrast(88%);
}
